.InventoryRoot
{
	width: 100%;
	height: 100%;
}

#Inventory
{
	width: fit-children;
	height: fit-children;
	horizontal-align: center;
	vertical-align: center;
}

.InventoryLeftAttribContainer1
{
	x: 65px;
	y: 153px;
	width: 128px;
	height: 128px;
	flow-children: down;
}

.InventoryLeftAttribContainer2
{
	x: 353px;
	y: 153px;
	width: 128px;
	height: 128px;
	flow-children: down;
}

.InventoryRightAttribContainer
{
	x: 217px;
	y: 109px;
	width: 256px;
	height: 32px;
	flow-children: right;
}

.InventorySlotOverlay
{
	horizontal-align: center;
	vertical-align: center;
}

.InventoryAttributeLabel
{
	color: #ffffff80;
	font-size: 14px;
	font-family: RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,Gulim,MingLiU;
	margin-top: 8px;
	margin-left: 36px;
}
