.TooltipModifierRoot
{
	width: 320px;
	flow-children: down;
}

.TooltipModifierTitleGroup
{
	width: 100%;
	flow-children: right;
}

.TooltipModifierTitleName
{
	color: #ffffff;
	font-size: 20px;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New;
}

.TooltipModifierTitleExtraGroup
{
	height: 100%;
	width: fill-parent-flow(1.0);
	flow-children: down;
}

.TooltipModifierTitleExtra
{
	width: 100%;
	text-align: right;
	color: #ffffff80;
	font-size: 12px;
	font-family: Goudy Trajan Medium,FZKai-Z03,TH Sarabun New;
}

.TooltipModifierDivider
{
	height: 1px;
	width: 100%;
	margin-top: 4px;
	margin-bottom: 4px;
	background-color: #ffffff20;
}

.TooltipModifierDescriptionLabel
{
	color: #ffffff80;
	font-size: 16px;
	font-family: RadianceM,Radiance,FZLanTingHei-R-GBK,TH Sarabun New,Gulim,MingLiU;
}