.SideBarRoot
{
    width: 100%;
    height: 100%;
}

#SideBar
{
	width: 100%;
	height: 100%;
}

.SideBarWindow
{
	background-image: url("file://{images}/custom_game/sidebar/iw_sidebar.tga");
	width: 88px;
	height: 323px;
	vertical-align: center;
	horizontal-align: right;
}

.SideBarIconContainer
{
	width: 36px;
	height: 352px;
	x: 42px;
	y: 35px;
}

.SideBarIcon
{
	padding-bottom: 8px;
}