.MainMenuRoot
{
	width: 100%;
	height: 95%;
	vertical-align: bottom;
	flow-children: down;
	opacity: 0.0;
}

.MainMenuFX
{
	width: 1000px;
	height: 360px;
	vertical-align: top;
	horizontal-align: center;
}

.MainMenuLogo
{
	horizontal-align: center;
}

.MainMenuLogoContainer
{
	width: 100%;
}

.MainMenuButtonContainer
{
	horizontal-align: center;
	flow-children: down;
}

.MainMenuButton
{
	margin-bottom: 40px;
}