.DialogueOptionText
{
	color: #ffffffff;
	font-size: 24;
	font-family: Radiance,FZLanTingHei-R-GBK,TH Sarabun New,Gulim,MingLiU;
	opacity: 0.15;
	margin-bottom: 8px;
}

.DialogueOptionText:hover
{
	opacity: 1.0;
}